html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  line-height: 1.5; }

.container {
  width: 85rem;
  padding: 0;
  margin: 0 auto; }

a:link {
  color: black;
  text-decoration: none; }

a:visited {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:active {
  color: black; }

.header {
  background-color: #eee;
  padding: 1rem 0;
  margin-bottom: 20px; }
  .header__brand {
    font-size: 4rem; }

.projects-heading {
  display: flex;
  align-items: baseline;
  justify-content: flex-end; }
  .projects-heading__title {
    margin: 0 auto 12px 0;
    padding: 0; }

.projects {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0; }
  .projects__item {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 12px 0;
    border-bottom: 1px solid lightgrey; }
    .projects__item:first-child {
      border-top: 1px solid lightgrey; }
  .projects__title {
    margin-right: auto; }

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid grey;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  line-height: 1;
  cursor: pointer;
  font-size: inherit; }
  .btn:hover, .btn:focus {
    text-decoration: none;
    border: 1px solid grey;
    outline: 0; }
  .btn:disabled {
    color: lightgrey;
    border: 1px solid lightgrey;
    pointer-events: none; }

.projects-heading__btn {
  margin-left: 5px; }

.projects__btn {
  margin-left: 15px;
  padding: 0;
  border: none; }
  .projects__btn:hover, .projects__btn:focus {
    border: none;
    outline: 0; }

.form-error {
  margin-bottom: 20px;
  color: red;
  background-color: #ffecec;
  padding: 10px 20px; }

input,
textarea {
  font: inherit; }

.field {
  margin-bottom: 20px; }

.field-text label {
  cursor: pointer; }

.field-text label,
.field-text input,
.field-text textarea {
  width: 100%; }

.field-text input {
  padding: 0.375rem 0.3125rem 0.3125rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem; }

.field-text input:focus,
.field-text textarea:focus {
  box-shadow: 0 0 0.5rem rgba(93, 162, 248, 0.5);
  border-color: #5da2f8;
  outline: 0; }

textarea {
  height: 50rem;
  resize: vertical; }

.error-page h1 {
  color: red; }

.error-page a {
  text-decoration: underline; }
